body{
	background-color:powderblue ;
	width: 1200px;/*largeur de la page*/
	margin: auto;
	padding: 16px;/*16 pixels en haut*/
}

header{
	display: flex;
	flex-direction: row;
	align-items: center;
}
header button{
	border-color:transparent ;
	background-color: burlywood;
	height: 60px;
	width:1000px;
}
h3{
	text-align: center;
}
h4{
	width: 400px;
	height: 40px;
}
